.active-btn-1{
    padding: 10px 24px;
    border-radius: 85px;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    align-items: center;
    gap: 24px;
    background: #0081FF;

    i{
        color: #FFF;
    }

}

.active-btn-2{
    padding: 10px 24px;
    border-radius: 85px;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    align-items: center;
    gap: 24px;
    background: #ff0000;

    i{
        color: #FFF;
    }

}

.active-btn-3{
    padding: 10px 24px;
    border-radius: 85px;
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    align-items: center;
    gap: 24px;
    background: #FFF;

    i{
        color: #000;
    }

}

.active-btn-4{
    padding: 10px 24px;
    border-radius: 85px;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    align-items: center;
    gap: 24px;
    background: #707070;

    i{
        color: #FFF;
    }

}

.active-btn-5{
    padding: 10px 24px;
    border-radius: 85px;
    color: #FFF;
    border: 1px solid #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    align-items: center;
    gap: 24px;

    i{
        color: #FFF;
    }

}